# Discord Bot Configuration
TOKEN=your_discord_bot_token_here
PREFIX=$

# Database
MONGO_DB=mongodb+srv://username:password@cluster.mongodb.net

# Webhooks
WEBHOOK_URL=https://discord.com/api/webhooks/your_webhook_url
ERROR_WEBHOOK=https://discord.com/api/webhooks/your_error_webhook
RATELIMIT_WEBHOOK=https://discord.com/api/webhooks/your_ratelimit_webhook
COMMAND_LOG_WEBHOOK=https://discord.com/api/webhooks/your_command_log_webhook
ROLE_LOG_WEBHOOK=https://discord.com/api/webhooks/your_role_log_webhook

# Redis (Optional)
REDIS_URL=redis://username:password@host:port/0

# Bot Configuration
OWNER_IDS=870040788539678791
ADMIN_IDS=870040788539678791,1118020446353371147
PREMIUM_IDS=870040788539678791,1118020446353371147
NO_PREFIX_IDS=870040788539678791,1118020446353371147

# Health Check API
PORT=3000
HEALTH_CHECK_SECRET=your_secret_key_here
